<a class="{{ model.className }}-toggle js-toggle" href="#" title="${ __('measureDistancesAndAreas') }">${
  __('measure')}</a>
<div class="{{ model.className }}-interaction js-interaction">
  <div class="js-startprompt startprompt">
    <div class="d-flex justify-content-between pb-2">
      <div class="col fw-500">
        ${ __('measureDistancesAndAreas') }
      </div>
      <div></div>
    </div>
    <div class="js-start mt-1 d-flex align-items-center justify-content-center">
      <button class="btn btn-outline-secondary btn-sm" type="button"><i class="fa-regular fa-sm fa-circle-play pe-2"></i>
        ${ __('createNewMeasurement') }
      </button>
    </div>
  </div>
  <div class="js-measuringprompt">
    <div class="d-flex justify-content-between">
      <div class="col fw-500">
        ${ __('measureDistancesAndAreas') }
      </div>
      <div>
        <span class="js-measuretasks">
          <button class="js-cancel btn btn-close btn-close-min"></button>
        </span>
      </div>
    </div>
    <p class="js-starthelp">${ __('startCreating') }</p>
    <div class="js-results results"></div>
    <span class="js-measuretasks tasks mt-0">
      <div class="js-finish mt-3 d-flex align-items-center justify-content-center">
        <button class="btn btn-outline-secondary btn-sm" type="button"><i class="fa-sm fa-regular fa-circle-stop pe-2"></i>${
          __('finishMeasurement') }</button>
      </div>
    </span>
  </div>
</div>